:root{
    font-size: 18px;
    --black-gray: #212121;
    --gray20: #212429;
    --gray: #616161;
}

body{
    color: var(--black-gray);
}
a{
    color: var(--black-gray);
}
header {
    font-size: 14px;
    color: var(--gray);
}
header a{
color: var(--gray);
text-decoration: none;
}
header a:hover{
    color: var(--black-gray);
}
nav details summary{
    font-weight: bold;
}
h1 {
    font-size: 60px; 
    /* font-size: 3.75em; */
}
h2{
    font-size: 32px;
    /* font-size: 2em; */
}
h3{
    font-size: 26px;
    /* font-size: 1.5em; */
}
