@font-face {
    font-family: charter;
    src: url("../charter/charter/otf/Charter\ Regular.otf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url("../charter/charter/otf/Charter\ Italic.otf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url("../charter/charter/otf/Charter\ Bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url("../charter/charter/otf/Charter\ Bold\ Italic.otf");
    font-style: italic;
    font-weight: bold;
}

:root{
    font-size: 18px;
    --black-gray: #212121;
    --gray20: #212429;
    --gray: #616161;
}

body{
    color: var(--black-gray);
    font-family: 'Roboto', sans-serif;

    /* font-family: charter; */
}
a{
    color: var(--black-gray);
}
header {
    font-size: 14px;
    color: var(--gray);
}
header a{
color: var(--gray);
text-decoration: none;
}
header a:hover{
    color: var(--black-gray);
}
nav details summary{
    font-weight: bold;
}
h1 {
    font-size: 60px; 
    /* font-size: 3.75em; */
}
h2{
    font-size: 32px;
    /* font-size: 2em; */
}
h3{
    font-size: 26px;
    /* font-size: 1.5em; */
}
.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .2), transparent), url("../imagen/patron.png");
    height: 350px;
}

.section-content h3{
    counter-increment: titlelist;
}

.section-content h3::before{
    content: counter(titlelist) ". ";
}

.section-content h3::after{
    content: "";
    width: 75px;
    height: 4px;
    background-color: #424242;
    display: block;
}

